@font-face {
  font-family: 'Gravitas One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gravitasone/v19/5h1diZ4hJ3cblKy3LWakKQmaDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lEu745KGk_R3uxyq0WrROhKpG7T0e3JvPLoiXEW6cZiwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lEu745KGk_R3uxyq0WrROhKpG7T0e3JvPLoiXEW5UZiwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lEu745KGk_R3uxyq0WrROhKpG7T0e3JvPLoiXEW3keiwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lEu745KGk_R3uxyq0WrROhKpG7T0e3JvPLoiXEW0AeiwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lGu745KGk_R3uxyq0WrROhAJiJsJ_eTWllpTAMGE9a.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lGu745KGk_R3uxyq0WrROhAJiJsJ_eTWllpTA-GE9a.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lGu745KGk_R3uxyq0WrROhAJiJsJ_eTWllpTDSH09a.ttf) format('truetype');
}
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sometypemono/v1/70lGu745KGk_R3uxyq0WrROhAJiJsJ_eTWllpTDrH09a.ttf) format('truetype');
}
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: linear-gradient(to bottom, #000000, #6F31F4);
  padding: 0;
  margin: 0;
  color: #FFF;
}
h1 {
  color: #fff;
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-wrap: pretty;
}
h2 {
  font-weight: 100;
  color: #fff;
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-wrap: pretty;
}
p {
  line-height: 2;
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-wrap: pretty;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.columns {
  min-height: 1vh;
}
.rows {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Style the header */
.header {
  color: #f1f1f1;
  padding-top: 15px 0;
}
/* Page content */
.content {
  padding: 16px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.progress-container {
  position: fixed;
  width: 100%;
  height: 8px;
  background: #ccc;
}
/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #7df9ff;
  width: 0%;
}
.frame {
  min-height: 75vh;
  padding-top: 1px;
}
.right {
  text-align: right;
}
a {
  color: #fff;
}
.down-arrow {
  text-align: center;
  margin: auto;
}
