@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #000000, #6F31F4);
    color: #FFF;
    margin: 0;
    padding: 0;
}

/*.stars {
    background-image: url('stars.png');
    background-repeat: repeat;
    background-size: 325%;
    background-attachment: fixed;
}*/

h1 {
    font-weight: 400;
    color: #fff;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-wrap: pretty;
}

h2 {
    font-weight: 100;
    color: #fff;
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-wrap: pretty;
}

p {
    line-height: 2;
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-wrap: pretty;
}

button {
    font-size: 12pt;
}

.content {


}

.frame {
    min-height: 100vh;
    padding: 10px 20px;
}

.centered {
    margin: auto;
    text-align: center;
}

#topbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}